<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p id="notice"><%= notice %></p>
  <div class="field">
    <%= form.text_field :fname, id: :user_fname, placeholder: 'First Name' %>
  </div>

  <div class="field">
    <%= form.text_field :lname, id: :user_lname, placeholder: 'Last Name' %>
  </div>

  <div class="field">
    <%= form.text_field :username, id: :user_username, placeholder: 'Username' %>
  </div>

  <div class="field">
    <%= form.text_field :password, id: :user_password, placeholder: 'Password' %>
  </div>

  <div class="field">
    <%= form.text_field :hometown, id: :user_hometown, placeholder: 'Hometown' %>
  </div>

  <div class="field">
    <%= form.text_area :bio, id: :user_bio, placeholder: 'Describe Yourself...' %>
  </div>

  <div class="field" id="photo">
    <%= form.label :avatar %>
    <%= form.file_field :avatar, id: :user_photo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
