<div id="users">
<p id="notice"><%= notice %></p>
<% if @current_user && @user == @current_user %>
<div id="editdelete">
<%= link_to 'Edit Your Profile', edit_user_path(@user) %> |
<%= link_to 'Delete Your Account', @user, method: :delete, data: { confirm: 'Are you sure? This cannot be undone' } %>
</div>
<% end %>
<% if @user.avatar.url != '/images/original/missing.png' %>
<div id="useravatar" style="background-image: url('<%= @user.avatar.url %>');">
</div>
<% end %>
<div id="user_info">
<h2>
  <%= @user.fname %>  <%= @user.lname %>
</h2>
<p>
  @<%= @user.username %>
</p>

<p>
  <%= @user.hometown %>
</p>
</div>
<p id="bio">
  <%= @user.bio %>
</p>
<h3>Recent Posts</h3>
<% @recent_posts.each do |post| %>
<a href="/posts/<%= post.id %>">
	<div class="posts search">
		<% if post.photo.url != '/images/original/missing.png' %>
		<div class="homethumb" style="background-image: url('<%= post.photo.url %>');">
		</div>
		<% end %>
		<h2><%= post.title %></h2>
		<p> by <%= post.user.username %></p>
	</div>
	</a>
	<% end %>
<div id="break"></div>
<div class="comments">
<h3>Recent Comments</h3>
<% @recent_comments.each do |comment| %>
<div class="usercomment">
		<p>"<%= comment.body %>" on:</p>
	<a href="/posts/<%= comment.post.id %>">
		<p><%= comment.post.title %> by <%= comment.post.user.username %></p>
	</a>
</div>
	<% end %>
</div>
<div class="favorites">
<h3>Recent Favorites</h3>
<% @recent_favorites.each do |favorite| %>
<div class="userfavorite">
	<a href="/posts/<%= favorite.post.id %>">
		<p><%= favorite.post.title %> by <%= favorite.post.user.username %></p>
	</a>
</div>
	<% end %>
</div>
</div>