<div id="home">
<div class="row">
<% for i in 0..2 %>
<% if @posts[i] %>
<div class="col-md-4">
	<a href="/posts/<%= @posts[i].id %>">
	<div class="posts">
		<% if @posts[i].photo.url != '/images/original/missing.png' %>
		<div class="homethumb" style="background-image: url('<%= @posts[i].photo.url %>');">
		</div>
		<% end %>
		<h2><%= @posts[i].title %></h2>
		<p> by <%= @posts[i].user.username %></p>
	</div>
	</a>
</div>
<% end %>
<% end %>
</div>
<div class="row">
<% for i in 3..5 %>
<% if @posts[i] %>
<div class="col-md-4">
	<a href="/posts/<%= @posts[i].id %>">
	<div class="posts">
		<% if @posts[i].photo.url != '/images/original/missing.png' %>
		<div class="homethumb" style="background-image: url('<%= @posts[i].photo.url %>');">
		</div>
		<% end %>
		<h2><%= @posts[i].title %></h2>
		<p> by <%= @posts[i].user.username %></p>
	</div>
	</a>
</div>
<% end %>
<% end %>
</div>
<div class="row">
<% for i in 6..8 %>
<% if @posts[i] %>
<div class="col-md-4">
	<a href="/posts/<%= @posts[i].id %>">
	<div class="posts">
		<% if @posts[i].photo.url != '/images/original/missing.png' %>
		<div class="homethumb" style="background-image: url('<%= @posts[i].photo.url %>');">
		</div>
		<% end %>
		<h2><%= @posts[i].title %></h2>
		<p> by <%= @posts[i].user.username %></p>
	</div>
	</a>
</div>
<% end %>
<% end %>
</div>
</div>