<div id="posts">
<p id="notice"><%= notice %></p>
<% if @current_user && @user == @current_user %>
<%= link_to 'Edit Post', edit_post_path(@post) %> |
<%= link_to 'Delete Post', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<h2>
  <%= @post.title %>
</h2>
<p>by <%= link_to @user.username, @user %></p>
<p id="categories">posted under:
<% @post.categories.each do |category| %>
<%= link_to category.name, category %>
<% end %>
</p>
<% if @current_user %>
<div id="favorite">
<%= render 'favorites/form', favorite: Favorite.new %>
</div>
<% end %>
<div id="favorite">
<p id="fav_count"> This post has been liked <%= @fav_count %> times!</p>
</div>
<% if @post.photo.url != '/images/original/missing.png' %>
<div id="postimage" style="background-image: url('<%= @post.photo.url %>');">
</div>
<% end %>

<p id="body">
  <%= @post.body %>
</p>
<div id="comments_section">
<% @post.comments.each do |comment| %>
<p class="comment"><span class="comment_user"><%=link_to comment.user.username, comment.user %>:</span> <span class="comment_body"><%= comment.body %></span></p>
<% if comment.user == @current_user %>
<%= link_to 'Delete Comment', post_comment_path(@post, comment), method: :delete %>
<% end %>
<% end %>
<% if @current_user %>
<%= render 'comments/form', comment: Comment.new %>
<% end %>
</div>
</div>