<div id="categories">
<p id="notice"><%= notice %></p>
<div class="categoryPosts">
<% @posts.each do |post| %>
<a href="/posts/<%= post.id %>">
	<div class="posts search">
		<% if post.photo.url != '/images/original/missing.png' %>
		<div class="homethumb" style="background-image: url('<%= post.photo.url %>');">
		</div>
		<% end %>
		<h2><%= post.title %></h2>
		<p> by <%= post.user.username %></p>
	</div>
	</a>
<% end %>
</div>
</div>