<!DOCTYPE html>
<html>
  <head>
    <title>Scratch</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Lobster|Nunito|Patua+One|Satisfy" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <%= favicon_link_tag 'favicon.png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  <div class="container">
  	<div class="row">
  		<div class="col-md-4">
      <div id="pinwhisk">
      </div>
  		</div>
  		<div class="col-md-4">
  			<a href="/"><h1>Scratch</h1>
  			<h3>your food. your way.</h3></a>
  		</div>
  		<div class="col-md-4" id="search" accept-charset="UTF-8">
  		  <form method="GET" action="/search">
        <input type="text" name="q" id="q" placeholder="Search for a post">
        <input type="submit" name="commit" value="Search" data-disable-with="Search"></ins>  
        </form>
  	</div>
    </div>
  	<div class="row">
  		<div class="col-md-6">
  			<nav>
  			<ul>
  					<% @categories.each do |c| %>
  					<li><%= link_to c.name, c %></li>
  					<% end %>
  			</ul>
  			</nav>
  		</div>
  		<div class="col-md-6" id="userinfo">
      <% if @current_user %>
        <!-- user options (my profile, new post, etc) -->
        <p>Welcome, <%= link_to @current_user.fname, @current_user %>! | <a href="/signout">Sign Out</a></p>
        <a href="/posts/new" id="new_post"></a>

      <% else %>
        <!-- sign in -->
        <form method="POST" action="/signin">
        <%= hidden_field_tag :authenticity_token,form_authenticity_token %>
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="username">
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="Sign In" data-disable-with="Sign In">
        </form>
        <p id="signup">or <%= link_to "sign up", new_user_path %></p>
      <% end %>
      <% if flash[:alert] %>
      <%= flash[:alert] %>
      <% end %>
  		</div>
  	</div>
  </div>
  </header>
<!-- end of header. yield is wrapped in a container div so that it will work on each page -->
  <div class="container" id="pagebody">
    <%= yield %>
  </div>
<!-- end of page body, start of footer -->
  <footer>
  <div class="container">
  <div class="row">
  <div class="col-md-4">
    
  </div>
  <div class="col-md-4">
    
  </div>
  <div class="col-md-4">
    <p>Scratch ©<span id="year"></span></p>
  </div>
  </div>
  </div>
  </footer>
  </body>
</html>
