<!DOCTYPE html>
<html>
  <head>
    <title>Scratch</title>
    <%= csrf_meta_tags %>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  <div class="container">
  	<div class="row">
  		<div class="col-md-4">
  		</div>
  		<div class="col-md-4">
  			<a href="/"><h1>Scratch</h1>
  			<h3>your food. your way</h3></a>
  		</div>
  		<div class="col-md-4">
  		<% if @current_user %>
        <!-- user options (my profile, new post, etc) -->
        <p>Welcome, <%= link_to @current_user.fname, @current_user %>!</p>
        <a href="/posts/new">New Post</a>
        <a href="/signout">Sign Out</a>

      <% else %>
        <!-- sign in -->
        <form method="POST" action="/signin">
        <%= hidden_field_tag :authenticity_token,form_authenticity_token %>
        <label for="username">Username</label>
        <input type="text" name="username">
        <label for="password">Password</label>
        <input type="password" name="password">
        <input type="submit">
        </form>
      <% end %>
      <% if flash[:alert] %>
      <%= flash[:alert] %>
      <% end %>
  		</div>
  	</div>
  	<div class="row">
  		<div class="col-md-8">
  			<nav>
  			<ul>
  					<% @categories.each do |c| %>
  					<li><%= link_to c.name, c %></li>
  					<% end %>
  			</ul>
  			</nav>
  		</div>
  		<div class="col-md-4">
  		<!-- search -->
        <%= form_tag search_path, method: :get do %>
        <%= text_field_tag :q %>
        <%= submit_tag 'Search' %>
        <% end %>
  		</div>
  	</div>
  </div>
  </header>
<!-- end of header. yield is wrapped in a container div so that it will work on each page -->
  <div class="container">
    <%= yield %>
  </div>
<!-- end of page body, start of footer -->
  <footer>
  <div class="container">

  </div>
  </footer>
  </body>
</html>
